#root {
  max-height: 100vh;
  overflow: auto;

}

/* RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: text;
}
.MuiDialog-root {
  z-index: 2 !important;
}
.no-line-numbers .cm-gutters {
  display: none !important;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  height: 100vh;

}

.card {
  position: relative;
  width: 380px;
  height: 410px;
  margin: 20px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .front .bottomBar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  /* padding: 15px; */
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}

.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card .back .link a {
  color: #f3f3f3;
}

.card .back .bottomBar {
  font-size: 30px;
  letter-spacing: 2px;
}

 .back p {
  letter-spacing: 1px;
}

 .front {
  transform: perspective(600px) rotateY(180deg);
}

.card .back {
  transform: perspective(600px) rotateY(0deg);
}





/* dark  scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #282828;
}

::-webkit-scrollbar-thumb {
  background: #4d4d4d;
}

/* CODE EDITOR*/
.cm-scroller,
.cm-gutters {
  background-color: #282828 !important;
}
.cm-focused {
  outline: none !important;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: rgb(26, 26, 26);
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter:hover {
  background-color: #0a84ff;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

code {
  border-radius: 5px;
  border-width: 1px;
  font-family: sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  padding: 0.125rem;
  letter-spacing: 1px;
  white-space: pre-wrap;
  background-color: hsla(0, 0%, 100%, 0.07);
  border-color: rgba(247, 250, 255, 0.12);
  color: rgba(239, 241, 246, 0.75);
}

.example-card pre {
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 0.5rem;
  color: rgba(239, 241, 246, 0.75);
  font-size: 0.98rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
  /* margin-top: 1rem; */
  padding: 1rem;
  white-space: pre-wrap;
}
.example-card pre strong {
  color: white;
  font-size: 1rem;
}
